<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenwo.data.statistics.dao.mysql.DoctorDailyDataMapper">
  <resultMap id="BaseResultMap" type="com.wenwo.data.statistics.entity.mysql.DoctorDailyData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="weibo_fans_num" jdbcType="INTEGER" property="weiboFansNum" />
    <result column="advice_total" jdbcType="INTEGER" property="adviceTotal" />
    <result column="appointment_num" jdbcType="INTEGER" property="appointmentNum" />
    <result column="article_num" jdbcType="INTEGER" property="articleNum" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>



</mapper>